<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome!</h1>
      <p>Welcome to Language Blog! This is a website on which you can write a blog in any language that you're currently learning. Then, native speakers of that language can offer corrections for any mistakes that you might have made. You can also offer corrections for people who are trying to learn your native tongue.</p>

      <p>Start blogging and improve your language skills today!</p>
    </div>
  </div>
</div>
